.text1{
    width:270px;
}
.text2{
    color:white;
    width:500px;
    background-color:grey;
}
.image{
    padding-top:10px;
    padding-left:10px;
    position:fixed;
    left:280px;
    top:5px;
    float:right;
    background-color:red;
    width:310px;
    height:180px;
}
.text3{
    width:500px;
}