<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="../styles/style8.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../scripts/jq8.js" ></script>

        <title>JQ8</title>
    </head>

    <body>
    <div id='my_img'>
        <p>
            <img src="" id="left_img">
            <img src="" id="center_img">
            <img src="" id="right_img">
        </p>
    </div>
    </body>
</html>