<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles/style10.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <div class="blackBox"></div>
        <div class="blueBox"></div>
        <div class="blackBox"></div>
        <div class="blueBox"></div>
        <div class="blackBox"></div>
        <br><caption> Рис. 1 </caption>
    </div>

    <div align="center">
        <div class="blackBox"></div>
        <div class="blueBox"></div>
        <div class="blackBox"></div>
        <div class="blueBox"></div>
        <div class="blackBox"></div>
        <br><caption> Рис. 2 </caption>
    </div>
</body>
</html>
