<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles/style6.css" rel="stylesheet">
    <title>6</title>
</head>
<body>
    <p class="image">
        <img src="..//resourses//Batman.jpg">
    </p>
    <p class="text1">Vivamus at dignissim erat, sed pellentesque mi.
        Praesent non lectus vitae libero mattis imperdiet nec sit amet enim.
        Integer ultrices enim nisi, condimentum suscipit metus varius vitae.
    </p>
    <p class="text2">Aenean sollicitudin nec ipsum ut</br> tristique. Vestibulum eget
        odio fringilla</br>, interdum tellus eget, placerat nisi.</br>
        Sed fermentum id diam vel dignissim.</br> Aliquam sed consectetur massa.</br>
        Aenean sollicitudin nec ipsum ut</br> tristique. Vestibulum eget
        odio fringilla.
    </p>
    <p class="text3">
        Morbi in cursus est. Aliquam velit enim, dapibus eu purus at, tempor tristique ligula. Nunc at turpis massa.
    </p>
</body>
</html>