{% extends "base.html" %}

{% block title %}
    <title> Musician - Update </title>
{% endblock %}

{% block content %}
    <form class="" action="{{ musician.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" name="button" class="btn btn-warning"> Update musician </button>
    </form>
{% endblock %}