<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/script10.js"></script>
    <title>10</title>
</head>
<body>
    <h3>
        Дан массив размера N.
        Поменять местами его минимальный и максимальный элементы.
    </h3>

    <form name="form10">
        <div>
            Введите N: <input type ="text" id="N" size=10>
        </div>

        <p>
            <input type ="button" value="Рассчитать" onClick="myFunc(form10)">
        </p>

        <input type ="reset" value="Очистить">
    </form>

</body>
</html>
