<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/script11.js"></script>
    <title>11</title>
</head>
<body>
    <h3>
        Дана строка. Преобразовать в ней все прописные латинские буквы в строчные.
    </h3>
    
    <form name="form11">
        <div>
            Введите текст: <input type ="text" id="myText" size=10>
        </div>

        <p>
            <input type ="button" value="Рассчитать" onClick="myFunc(form11)">
        </p>

        <input type ="reset" value="Очистить">
    </form>
</body>
</html>
