<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="script3.js"></script>
    <title>3</title>
</head>
<body>
    <h3>
        Дан номер месяца — целое число в диапазоне 1–12 (1 — январь, 2 —
        февраль и т. д.). Определить количество дней в этом месяце для невисокосного
        года.
    </h3>

    <form name="form3">
        <div>
            Введите номер месяца: <input type ="text" name="val" size=10>
            <input type ="button" value="Результат" onClick="month(form3)"><br />
        </div>
    </form>
</body>
</html>