<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/script5.js"></script>
    <title>5</title>
</head>
<body>
    <h3>
        Дано целое число N (> 0). Если оно является степенью числа 3, то вывести
        True, если не является — вывести False.
    </h3>

    <form name="form5">
        <div>
            Число: <input type ="text" name="val" size=10>
        </div>

        <input type ="button" value="Рассчитать" onClick="power(form5)">
    </form>
</body>
</html>
