<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/script7.js"></script>
    <title>7</title>
</head>
<body>
<h3>
    Дано целое число N и набор из N чисел.
    Найти номер минимального элемента из данного набора.
</h3>

    <form name="form7">
        Введите N: <input type ="text" id="val" size=10>
        <p>
            <input type ="button" value="Найти MIN" onClick="myFunc(form7)">
        </p>

        <input type ="reset" value="Очистить">
    </form>
</body>
</html>
