<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/script9.js"></script>
    <title>9</title>

</head>
<body>
    <h3>
        Дан массив размера N и целые числа K и L (1 ≤ K ≤ L ≤ N). Найти
        среднее арифметическое элементов массива с номерами от K до L включи-
        тельно.
    </h3>

    <form name="form9">
        <div>
            Введите N: <input type ="text" id="N" size=10>
        </div>
        <div>
            Введите K: <input type ="text" id="K" size=10>
        </div>
        <div>
            Введите L: <input type ="text" id="L" size=10>
        </div>

        <p>
            <input type ="button" value="Рассчитать" onClick="myFunc(form9)">
        </p>

        <input type ="reset" value="Очистить">
    </form>
</body>
</html>