{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="{% static 'css/discography.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Title</title>
    {% block title %} {% endblock %}
</head>

<body class="background-musicians">

    <!-- HEADER BEGIN -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Discography</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/discography/musician">Musicians</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discography/song">Songs</a>
          </li>

<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <!-- HEADER END -->


    <!-- BODY BEGIN -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-md-2">
                {% block content %}
                    There is no any content for you
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- BODY END -->


    <!-- ADMIN PANEL BEGIN -->
    {% if request.user.is_authenticated and request.user.is_staff %}
        {% block admin-panel %}
            <div class="admin-panel align-items-center">
                <a href="/admin" class="btn btn-info"> Admin </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'musician_create_url' %}"> Musician </a>
                        <a class="dropdown-item" href="{% url 'song_create_url' %}"> Song </a>
                    </div>
                    </div>

                    <a href="{{ admin_obj.get_update_url }}"
                       class="btn btn-warning edit"
                       style="{% if show %} display: block; {% endif %}"> Edit </a>

                    <a href="{{ admin_obj.get_delete_url }}"
                       class="btn btn-danger delete"
                       style="{% if show %} display: block; {% endif %}"> Delete </a>
            </div>
        {% endblock %}
    {% endif %}
    <!-- ADMIN PANEL END -->


</body>
</html>